<!DOCTYPE html>
<html lang="es">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>EZ TIMER</title>

        <link rel="stylesheet" href="/fontawesome-free/css/all.min.css">
        <link rel="stylesheet" href="/sb-admin-2.min.css">

    </head>


    {{#if nombre}}
        <body>
            <div id="wrapper">

                <!-- Barra de la izq -->
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

                    <!-- Logo -->
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="timer">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fa fa-cube" aria-hidden="true"></i>
                        </div>
                    </a>

                    <!-- Division -->
                    <hr class="sidebar-divider my-0">

                    <!-- Timer -->
                    <li class="nav-item">
                        <a class="nav-link" href="timer">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Timer</span></a>
                    </li>
                    
                    <!-- Estadisticas -->
                    <li class="nav-item">
                        <a class="nav-link" href="estadisticas">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Estadisticas</span></a>
                    </li>

                    <!-- ListaTmp -->
                    <li class="nav-item">
                        <a class="nav-link" href="tiempos">
                            <i class="fas fa-fw fa-list"></i>
                            <span>Mis tiempos</span></a>
                    </li>

                    <!-- Divisor -->
                    <hr class="sidebar-divider d-none d-md-block">

                    <!-- Estadisticas -->
                    <li class="nav-item">
                        <a class="nav-link" href="acerca">
                            <i class="fas fa-fw fa-info-circle"></i>
                            <span>Acerda de </span></a>
                    </li>

                </ul>
                <!-- Barra de la izq -->

                <!-- Contenido derecha  -->
                <div id="content-wrapper" class="d-flex flex-column">

                    <!-- Seccion principal -->
                    <div id="content">

                        <!-- Topbar -->
                        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                            <!-- Sidebar Toggle (Topbar) -->
                            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                                <i class="fa fa-bars"></i>
                            </button>

                            <ul class="navbar-nav ml-auto">

                                <!-- Usuario -->
                                <li class="nav-item dropdown no-arrow">
                                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{nombre}}</span>
                                        <img class="img-profile rounded-circle"
                                            src="img/undraw_profile.svg">
                                    </a>
                                    <!-- Menu usuario -->
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                        aria-labelledby="userDropdown">
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Perfil
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Ajustes
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            Cerrar Sesión
                                        </a>
                                    </div>
                                </li>

                            </ul>

                        </nav>

                        <!-- Contenido principal -->
                        <div class="container-fluid">

                            {{{body}}}

                        </div>

                    </div>

                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; EZ TIMER  2023</span>
                            </div>
                        </div>
                    </footer>

                </div>

            </div>

            <!-- Subir-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Cierre de sesion emergenete-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cerrar sesion</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Seguro que quieres irte?</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" href="logout">Cerrar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>

            <script src="js/jquery/jquery.min.js"></script>
            <script src="js/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="js/jquery-easing/jquery.easing.min.js"></script>
            <script src="js/sb-admin-2.min.js"></script>
            <script src="js/funcionTimer.js"></script>
            <script src="js/MersenneTwisterObject.js"></script>
            <script src="js/combinatorias.js"></script>
            <script src="js/min2phase.js"></script>
            <script src="js/scrambleGen.js"></script>
            <script src="js/funcionEst.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </body>
    {{else}}
        <body>
           {{{body}}}
        </body>
    {{/if}}
</html>
