<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Sobre Nosotros</h2>
            <p>
                Bienvenidos a EZ TIMER! tu compañero confiable en la resolución del famoso Cubo Rubik. Nuestra pasión por los rompecabezas y el desafío mental nos ha llevado a crear una herramienta especializada para los amantes del rompecabezas más icónico del mundo.
            </p>
            <p>
                En EZ TIMER! entendemos que el tiempo es crucial cuando se trata de resolver el Cubo Rubik. Ya sea que estés compitiendo en torneos o simplemente desafiándote a ti mismo, un buen temporizador puede marcar la diferencia en tu rendimiento y registro personal. Es por eso que nos hemos dedicado a diseñar un temporizador intuitivo y preciso, pensado especialmente para optimizar tu experiencia de resolución.
            </p>
            <p>
                Nuestro temporizador cuenta con una interfaz fácil de usar, con botones ergonómicos que te permiten iniciar, detener y reiniciar el tiempo de manera rápida y precisa. Además, hemos incorporado funciones adicionales que te ayudarán a mejorar tus habilidades en la resolución del Cubo Rubik. Podrás realizar seguimiento de tus tiempos promedio, establecer metas personales y analizar tu progreso a lo largo del tiempo.
            </p>
            <p>
                EZ TIMER! se enorgullece por ofrecer un temporizador de alta calidad, confiable y preciso. Nos aseguramos de que nadie se quede fuera, ya seas un usuario casual o competitivo, cualquiera lo puede usar. Nuestros esfuerzos están enfocados en proporcionarte una herramienta que se ajuste a tus necesidades y te permita llevar tu juego al siguiente nivel.
            </p>
            <p>
                Al final, nuestro objetivo es ser tu compañero confiable en el apasionante mundo de la resolución del Cubo Rubik. Estamos aquí para ayudarte a superar tus desafíos, alcanzar tus metas y disfrutar al máximo de esta fascinante actividad. Únete a nosotros y experimenta la emoción de la velocidad y la destreza en la resolución del Cubo Rubik.
            </p>
            </div>
            <div class="col-md-6 text-center">
            <img src="../img/about.jpg" alt="Logo de Cube" class="img-fluid" style="max-width: 300px;">
        </div>
    </div>
</div>
