<div class="container-fluid">
    <h1 class="col-md-6 mb-4">Ranking</h1>

    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
            <th style="background-color:rgb(51, 90, 203);border: 5px solid rgb(133, 135, 150);color:white">Puesto</th>
            <th style="background-color:rgb(51, 90, 203);border: 5px solid rgb(133, 135, 150);color:white"> Nombre</th>
            <th style="background-color:rgb(51, 90, 203);border: 5px solid rgb(133, 135, 150);color:white">Tiempo</th>
            <th style="background-color:rgb(51, 90, 203);border: 5px solid rgb(133, 135, 150);color:white">Mezcla</th>
            </tr>
        </thead>
        <tbody>
            {{#each info}}
            <tr>
            <td style="border: 5px solid">{{@index}}</td>
            <td style="border: 5px solid">{{Nombre}}</td>
            <td style="border: 5px solid">{{tiempo}}</td>
            <td style="border: 5px solid">{{mezcla}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>