<div class="container-fluid">
  <h1 class="col-md-6 mb-4">Mis tiempos</h1>

  <div class="row" id="rowContainer">

  </div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const prom = {{{info}}};

    const validTiempos = prom.filter(item => item.valido);

    const tiemposConvertidos = validTiempos.map(item => {
      const tiempoSegundos = item.tiempo / 1000;
      const fecha = new Date(item.fecha);
      const fechaSinHora = fecha.toISOString().split('T')[0]; // Obtener solo la fecha sin la hora
      return { tiempo: tiempoSegundos, fecha: fechaSinHora, mezcla: item.mezcla };
    });

    const rowContainer = document.getElementById('rowContainer');

    for (var i = 0; i < tiemposConvertidos.length; i++) {
      var tiempoObj = tiemposConvertidos[i];

      var colDiv = document.createElement('div');
      colDiv.className = 'col-xl-3 col-md-6 mb-4';

      var cardDiv = document.createElement('div');
      cardDiv.className = 'card border-left-info shadow h-100 py-2';

      var cardBodyDiv = document.createElement('div');
      cardBodyDiv.className = 'card-body';

      var rowDiv = document.createElement('div');
      rowDiv.className = 'row no-gutters align-items-center';

      var colMrDiv = document.createElement('div');
      colMrDiv.className = 'col mr-2';

      var tiempoDiv = document.createElement('div');
      tiempoDiv.className = 'h5 mb-0 font-weight-bold text-primary text-center'; // Cambiar el color del texto a azul
      tiempoDiv.textContent = tiempoObj.tiempo;


      var fechaDiv = document.createElement('div');
      fechaDiv.className = 'h5 mb-0 font-weight-bold text-primary'; 
      fechaDiv.textContent = 'Fecha: ';
      var fechaSpan = document.createElement('span');
      fechaSpan.style.color = 'black'; 
      fechaSpan.textContent = tiempoObj.fecha;
      fechaDiv.appendChild(fechaSpan);

      var mezclaDiv = document.createElement('div');
      mezclaDiv.className = 'h5 mb-0 font-weight-bold text-primary'; 
      mezclaDiv.textContent = 'Mezcla: ';
      var mezclaSpan = document.createElement('span');
      mezclaSpan.style.color = 'black'; 
      mezclaSpan.textContent = tiempoObj.mezcla;

      mezclaDiv.appendChild(mezclaSpan);


      colMrDiv.appendChild(tiempoDiv); // Colocar el tiempo en lugar del título
      colMrDiv.appendChild(fechaDiv);
      colMrDiv.appendChild(mezclaDiv);
      rowDiv.appendChild(colMrDiv);
      cardBodyDiv.appendChild(rowDiv);
      cardDiv.appendChild(cardBodyDiv);
      colDiv.appendChild(cardDiv);
      rowContainer.appendChild(colDiv);
    }
  });
</script>
